<body>


    <div class="flex-container">

        <div class="logo">
            <h4>Arlindo Filho</h4> <img src="/app/src/assets/arlindo.jpeg" alt="image">
        </div>
        <div class="descricao">
            <h5>Desenvolvedor Java<br>Manutenção de computadores</h5>

        </div>
        <div class="inicio">
            <h5>Adm de máquinas</h5>
        </div>
        <div class="login">
            <div class="saudacoes">
                <p>LOGIN</p>

            </div>
            <div class="formulario">
                <form>
                    <div class="">
                        <label for="exampleInputEmail1"></label>
                        <input type="text" class="form-control" id="usuario" aria-describedby="usuarioHelp"
                            placeholder="Usuário">
                    </div>
                    <div class="">
                        <label for="exampleInputPassword1"></label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </form>
            </div>



        </div>
    </div>



</body>