<body>


    <div class="flex-container">

        <div class="logo">
            <h4>Arlindo Filho</h4> <img src="/app/src/assets/arlindo.jpeg" alt="image">
        </div>
        <div class="descricao">
            <h5>Desenvolvedor Java Jr.<br>Manutenção de computadores.</h5>

        </div>
        <div class="inicio">
            <h5></h5>
        </div>
        <div class="login">

            <div class="formulario">
                <form>
                    <div class="col-12">
                        <div clas="nome">
                            <input type="text" class="form-control" id="usuario" aria-describedby="usuarioHelp"
                                placeholder="Nome">
                        </div>
                        <div class="telefone"><input type="text" class="form-control" id="exampleInputPassword1"
                                placeholder="Telefone/whatsapp">
                        </div>
                        <div class="bairro">
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Bairro">
                        </div>
                        <div class="rua">
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Rua">
                        </div>
                        <div class="numero">
                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nº">
                        </div>
                        <div class="pontoRef">
                            <input type="text" class="form-control" id="exampleInputPassword1"
                                placeholder="Ponto de referência">
                        </div>
                        <div class="senha">
                            <input type="text" class="form-control" id="exampleInputPassword1"
                                placeholder="Senha wi-fi">
                        </div>
                        <div class="data col-6">
                            <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Data">
                        </div>
                        <div class="data col-6">
                            <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Data">
                        </div>

                        <label for="exampleInputPassword1"></label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Desktop </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                                Notebook </label>
                        </div>
                        <br>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Modelo, CPU, RAM...">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
                <br>
            </div>



        </div>
    </div>
</body>