body{
    text-align: center;
    background-color:#083971;   
    color:  azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo{
    margin-top: 30px;
}
.login{
    justify-content: center;
    flex-direction: column;
}
.descricao{
    color: white;
}
.saudacoes{
    margin-top: 20px;
}
h5{
    font-size: 15px;
}
.formulario{
 display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

} 
.telefone,.bairro,.rua,.numero,.pontoRef,.senha{
    margin-top: 2px;
}
.data{
    margin-top: 2px;
    flex-direction: row;
}