<body>

    <div class="flex-container">

        <div class="logo">
            <h4>Arlindo Filho</h4> <img src="/app/src/">
        </div>
        <div class="descricao">
            <h5>Desenvolvedor Java Jr.<br>Manutenção de computadores.</h5>

        </div>
        <div class="inicio">
            <h5>Adm de máquinas consertadas ou formatadas.</h5>

        </div>
        <br>
        <div class="botoes">
            <button type="button" class="btn btn-success">Adicionar</button>
            <br><br>
            <button type="button" class="btn btn-primary">Listar todos</button>
            <br><br>
            <div class="pesquisa">
                <h6>Pesquisar por celular</h6>
            </div>
            <button type="button" class="btn btn-danger">Pesquisar</button>

        </div>



    </div>







</body>
<router-outlet></router-outlet>